{
    "tabWidth": 4,
    "semi": false,
    "arrowParens": "avoid",
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}